# Copyright (c) 2020, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are
# met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above
#       copyright notice, this list of conditions and the following
#       disclaimer in the documentation and/or other materials provided
#       with the distribution.
#     * Neither the name of The Linux Foundation nor the names of its
#       contributors may be used to endorse or promote products derived
#       from this software without specific prior written permission.
#
# THIS SOFTWARE IS PROVIDED "AS IS" AND ANY EXPRESS OR IMPLIED
# WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT
# ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS
# BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
# CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
# SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR
# BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE
# OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN
# IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

on boot
	# Camera
	chown cameraserver cameraserver /sys/kernel/camera/file_dump
	chown cameraserver cameraserver /sys/kernel/camera/torch_switch
	chown cameraserver cameraserver /sys/kernel/camera/ois_switch
	chown cameraserver cameraserver /sys/kernel/camera/eeprom_calibration
	chmod 0666 /sys/kernel/camera/file_dump
	chmod 0666 /sys/kernel/camera/torch_switch
	chmod 0666 /sys/kernel/camera/ois_switch
	chmod 0666 /sys/kernel/camera/eeprom_calibration

	# Tuxera exFAT kernel module
	insmod /vendor/lib/modules/texfat.ko

	# Multicolor led
	chown system system /sys/class/leds/aw22xxx_led/reg
	chown system system /sys/class/leds/aw22xxx_led/hwen
	chown system system /sys/class/leds/aw22xxx_led/fw
	chown system system /sys/class/leds/aw22xxx_led/cfg
	chown system system /sys/class/leds/aw22xxx_led/effect
	chown system system /sys/class/leds/aw22xxx_led/imax
	chown system system /sys/class/leds/aw22xxx_led/rgb
	chown system system /sys/class/leds/aw22xxx_led/task0
	chown system system /sys/class/leds/aw22xxx_led/task1
	chown system system /sys/class/leds/aw22xxx_led/brightness
	chown system system /sys/class/leds/aw22xxx_led/max_brightness

	# Persist
	mkdir /mnt/vendor/persist/factory/ 0777 system system

	# Touchkey
	chmod 0666 /sys/devices/platform/soc/988000.i2c/i2c-1/1-0010/L_sensitivity
	chmod 0666 /sys/devices/platform/soc/988000.i2c/i2c-1/1-0010/mode
	chmod 0666 /sys/devices/platform/soc/988000.i2c/i2c-1/1-0010/R_sensitivity
	chmod 0666 /sys/devices/platform/soc/990000.i2c/i2c-2/2-0010/L_sensitivity
	chmod 0666 /sys/devices/platform/soc/990000.i2c/i2c-2/2-0010/mode
	chmod 0666 /sys/devices/platform/soc/990000.i2c/i2c-2/2-0010/R_sensitivity

	chown system system /sys/devices/platform/soc/988000.i2c/i2c-1/1-0010/L_sensitivity
	chown system system /sys/devices/platform/soc/988000.i2c/i2c-1/1-0010/mode
	chown system system /sys/devices/platform/soc/988000.i2c/i2c-1/1-0010/R_sensitivity
	chown system system /sys/devices/platform/soc/990000.i2c/i2c-2/2-0010/L_sensitivity
	chown system system /sys/devices/platform/soc/990000.i2c/i2c-2/2-0010/mode
	chown system system /sys/devices/platform/soc/990000.i2c/i2c-2/2-0010/R_sensitivity

	# Touchscreen
	chown system system /sys/kernel/tp_node/fp_mode
	chown system system /sys/kernel/tp_node/wake_gesture
	chmod 0664 /sys/kernel/tp_node/wake_gesture

	# Vibrator
	chown system audio /dev/aw8695_haptic
	chmod 0660 /dev/aw8695_haptic
	chown system audio /sys/class/leds/vibrator/haptic_audio
	chmod 0660 /sys/class/leds/vibrator/haptic_audio

on post-fs-data
	# Fan
	chown system system /sys/kernel/fan/fan_current
	chown system system /sys/kernel/fan/fan_enable
	chown system system /sys/kernel/fan/fan_smart
	chown system system /sys/kernel/fan/fan_speed_count
	chown system system /sys/kernel/fan/fan_speed_level
	chown system system /sys/kernel/fan/fan_temp
	chown system system /sys/kernel/fan/fan_thermal_engine_level

	chmod 664 /sys/kernel/fan/fan_current
	chmod 664 /sys/kernel/fan/fan_enable
	chmod 664 /sys/kernel/fan/fan_smart
	chmod 664 /sys/kernel/fan/fan_speed_count
	chmod 664 /sys/kernel/fan/fan_speed_level
	chmod 664 /sys/kernel/fan/fan_temp
	chmod 664 /sys/kernel/fan/fan_thermal_engine_level

	# Fingerprint
	chmod 0666 /dev/goodix_fp
	chown system system /dev/goodix_fp
	chmod 0666 /sys/class/backlight/panel0-backlight/brightness
	chown system system /sys/class/backlight/panel0-backlight/brightness

	mkdir /data/vendor/goodix 0777 system system

	# Haptics
	chown system system /sys/class/leds/vibrator/state
	chown system system /sys/class/leds/vibrator/duration
	chown system system /sys/class/leds/vibrator/activate
	chown system system /sys/class/leds/vibrator/activate_mode
	chown system system /sys/class/leds/vibrator/brightness
	chown system system /sys/class/leds/vibrator/cali
	chown system system /sys/class/leds/vibrator/cont
	chown system system /sys/class/leds/vibrator/cont_drv
	chown system system /sys/class/leds/vibrator/cont_num_brk
	chown system system /sys/class/leds/vibrator/cont_td
	chown system system /sys/class/leds/vibrator/cont_zc_thr
	chown system system /sys/class/leds/vibrator/f0
	chown system system /sys/class/leds/vibrator/gain
	chown system system /sys/class/leds/vibrator/haptic_audio
	chown system system /sys/class/leds/vibrator/haptic_audio_time
	chown system system /sys/class/leds/vibrator/index
	chown system system /sys/class/leds/vibrator/loop
	chown system system /sys/class/leds/vibrator/rtp
	chown system system /sys/class/leds/vibrator/seq
	chown system system /sys/class/leds/vibrator/vmax
	chown system system /sys/class/leds/vibrator/touch
	chown system system /sys/class/leds/vibrator/touch_enable
	
	chmod 664 /sys/class/leds/vibrator/state
	chmod 664 /sys/class/leds/vibrator/activate
	chmod 664 /sys/class/leds/vibrator/activate_mode
	chmod 664 /sys/class/leds/vibrator/duration
	chmod 664 /sys/class/leds/vibrator/index
	chmod 664 /sys/class/leds/vibrator/seq
	chmod 664 /sys/class/leds/vibrator/vmax
	chmod 664 /sys/class/leds/vibrator/touch
	chmod 664 /sys/class/leds/vibrator/touch_enable
	chmod 664 /sys/class/leds/vibrator/brightness
	chmod 664 /sys/class/leds/vibrator/haptic_audio
	chmod 664 /sys/class/leds/vibrator/haptic_audio_time

	# Light
	chown system system /sys/class/leds/red/brightness
	chown system system /sys/class/leds/red/breath
	chown system system /sys/class/leds/red/delay_off
	chown system system /sys/class/leds/red/delay_on
	chown system system /sys/class/leds/red/device
	chown system system /sys/class/leds/red/max_brightness

	chown system system /sys/class/leds/green/brightness
	chown system system /sys/class/leds/green/breath
	chown system system /sys/class/leds/green/delay_off
	chown system system /sys/class/leds/green/delya_on
	chown system system /sys/class/leds/green/device
	chown system system /sys/class/leds/green/max_brightness

	chown system system /sys/class/leds/blue/brightness
	chown system system /sys/class/leds/blue/breath
	chown system system /sys/class/leds/blue/delay_off
	chown system system /sys/class/leds/blue/delay_on
	chown system system /sys/class/leds/blue/device
	chown system system /sys/class/leds/blue/max_brightness

	chown system system /sys/class/light/light/calibrate
	chown system system /sys/class/light/light/chip_name
	chown system system /sys/class/light/light/code
	chown system system /sys/class/light/light/dev
	chown system system /sys/class/light/light/dev_init
	chown system system /sys/class/light/light/enable
	chown system system /sys/class/light/light/fac_calibrate
	chown system system /sys/class/light/light/als_calibrate
	chown system system /sys/class/light/light/firlen
	chown system system /sys/class/light/light/ircode
	chown system system /sys/class/light/light/lux
	chown system system /sys/class/light/light/transmittance

	chmod 664 /sys/class/leds/red/brightness
	chmod 664 /sys/class/leds/red/breath
	chmod 664 /sys/class/leds/red/delay_off
	chmod 664 /sys/class/leds/red/delay_on
	chmod 666 /sys/class/leds/red/device
	chmod 666 /sys/class/leds/red/max_brightness

	chmod 664 /sys/class/leds/blue/brightness
	chmod 664 /sys/class/class/leds/blue/breath
	chmod 664 /sys/class/leds/blue/delay_off
	chmod 664 /sys/class/leds/blue/delay_on
	chmod 666 /sys/class/leds/blue/device
	chmod 666 /sys/class/leds/blue/max_brightness

	chmod 664 /sys/class/leds/green/brightness
	chmod 664 /sys/class/class/leds/green/breath
	chmod 664 /sys/class/leds/green/delay_off
	chmod 664 /sys/class/leds/green/delay_on
	chmod 666 /sys/class/leds/green/device
	chmod 666 /sys/class/leds/green/max_brightness

	chmod 0664 /sys/class/light/light/calibrate
	chmod 0664 /sys/class/light/light/chip_name
	chmod 0664 /sys/class/light/light/code
	chmod 0664 /sys/class/light/light/dev
	chmod 0664 /sys/class/light/light/dev_init
	chmod 0664 /sys/class/light/light/enable
	chmod 0664 /sys/class/light/light/als_calibrate
	chmod 0664 /sys/class/light/light/fac_calibrate
	chmod 0664 /sys/class/light/light/firlen
	chmod 0664 /sys/class/light/light/ircode
	chmod 0664 /sys/class/light/light/lux
	chmod 0664 /sys/class/light/light/transmittance

	# NFC
	chmod 777 /dev/sec-nfc
	chown nfc nfc /dev/sec-nfc
	mkdir /data/vendor/nfc 770 nfc nfc
	setprop ro.hardware.nfc_nci sec

	# Proximity
	chown system system /sys/class/proximity/proximity/code
	chown system system /sys/class/proximity/proximity/codethdh
	chown system system /sys/class/proximity/proximity/codethdl
	chown system system /sys/class/proximity/proximity/dev
	chown system system /sys/class/proximity/proximity/distance
	chown system system /sys/class/proximity/proximity/enable
	chown system system /sys/class/proximity/proximity/enableaso
	chown system system /sys/class/proximity/proximity/htnct
	chown system system /sys/class/proximity/proximity/ltnct
	chown system system /sys/class/proximity/proximity/maxdiff
	chown system system /sys/class/proximity/proximity/offset
	chown system system /sys/class/proximity/proximity/prox_data_max
	chown system system /sys/class/proximity/proximity/prox_debug
	chown system system /sys/class/proximity/proximity/prox_init
	chown system system /sys/class/proximity/proximity/prox_offset
	chown system system /sys/class/proximity/proximity/prox_offset_cal
	chown system system /sys/class/proximity/proximity/prox_thres
	chown system system /sys/class/proximity/proximity/prox_thres_max
	chown system system /sys/class/proximity/proximity/prox_thres_min
	chown system system /sys/class/proximity/proximity/prox_thres_to_persist
	chown system system /sys/class/proximity/proximity/prox_uncover_max
	chown system system /sys/class/proximity/proximity/prox_uncover_min
	chown system system /sys/class/proximity/proximity/prox_value
	chown system system /sys/class/proximity/proximity/recv
	chown system system /sys/class/proximity/proximity/send
	chown system system /sys/class/proximity/proximity/status

	chmod 0664 /sys/class/proximity/proximity/allreg
	chmod 0664 /sys/class/proximity/proximity/cali
	chmod 0664 /sys/class/proximity/proximity/chip_name
	chmod 0664 /sys/class/proximity/proximity/code
	chmod 0664 /sys/class/proximity/proximity/codethdh
	chmod 0664 /sys/class/proximity/proximity/codethdl
	chmod 0664 /sys/class/proximity/proximity/dev
	chmod 0664 /sys/class/proximity/proximity/distance
	chmod 0664 /sys/class/proximity/proximity/enable
	chmod 0664 /sys/class/proximity/proximity/enableaso
	chmod 0664 /sys/class/proximity/proximity/htnct
	chmod 0664 /sys/class/proximity/proximity/ltnct
	chmod 0664 /sys/class/proximity/proximity/maxdiff
	chmod 0664 /sys/class/proximity/proximity/offset
	chmod 0664 /sys/class/proximity/proximity/prox_data_max
	chmod 0664 /sys/class/proximity/proximity/prox_debug
	chmod 0664 /sys/class/proximity/proximity/prox_init
	chmod 0664 /sys/class/proximity/proximity/prox_offset
	chmod 0664 /sys/class/proximity/proximity/prox_offset_cal
	chmod 0664 /sys/class/proximity/proximity/prox_thres
	chmod 0664 /sys/class/proximity/proximity/prox_thres_max
	chmod 0664 /sys/class/proximity/proximity/prox_thres_min
	chmod 0664 /sys/class/proximity/proximity/prox_thres_to_persist
	chmod 0664 /sys/class/proximity/proximity/prox_uncover_max
	chmod 0664 /sys/class/proximity/proximity/prox_uncover_min
	chmod 0664 /sys/class/proximity/proximity/prox_value
	chmod 0664 /sys/class/proximity/proximity/recv
	chmod 0664 /sys/class/proximity/proximity/send
	chmod 0664 /sys/class/proximity/proximity/status

	# Sensors
	chmod 0777 /mnt/vendor/persist/sensors
	chmod 0666 /mnt/vendor/persist/sensors/g_sensor_cal
	chown system system /mnt/vendor/persist/sensors/g_sensor_cal
	chmod 0666 /mnt/vendor/persist/sensors/xtalk_cal
	chown system system /mnt/vendor/persist/sensors/xtalk_cal
	chmod 0666 /mnt/vendor/persist/sensors/als_cal_data
	chown system system /mnt/vendor/persist/sensors/als_cal_data
	chmod 0666 /mnt/vendor/persist/sensors/als_fac_cal
	chown system system /mnt/vendor/persist/sensors/als_fac_cal
	chown system system /persist/sensors/rgb_color_cfg
	chmod 0666 /persist/sensors/rgb_color_cfg
	chown system system /persist/sensors/rgbc_cfg
	chmod 0666 /persist/sensors/rgbc_cfg

service vendor.camera-provider-2-4 /vendor/bin/hw/android.hardware.camera.provider@2.4-service_64
	override
	interface android.hardware.camera.provider@2.4::ICameraProvider legacy/0
	interface vendor.qti.hardware.camera.postproc@1.0::IPostProcService camerapostprocservice
	class hal
	user cameraserver
	group audio camera input drmrpc oem_2907
	ioprio rt 4
	capabilities SYS_NICE
	task_profiles ProcessCapacityHigh HighPerformance

service vendor.sensors-hal-2-0-multihal /vendor/bin/hw/android.hardware.sensors@2.0-service.multihal
	override
	class hal
	user system
	group system wakelock context_hub input
	task_profiles ServiceCapacityLow
	capabilities BLOCK_SUSPEND
	rlimit rtprio 10 10

service nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.2-service.samsung
	override
	class hal
	user nfc
	group nfc
	disabled

service nfc-sku-sh /vendor/bin/init.nfc.sku.sh
	class core
	user root
	oneshot

on property:vendor.qti.nfc.supported=true
	setprop ro.boot.product.hardware.sku nfc

on property:ro.boot.product.hardware.sku=nfc
	start nfc_hal_service
